<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

<header class="hero">
  <h1>Hi, I'm Violette Krueger</h1>
  <p class="subtitle">Personal Portfolio</p>

  <nav class="nav">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/skills' | relative_url }}">Skills</a>
    <a href="{{ '/projects' | relative_url }}">Projects</a>
    <a href="{{ '/contact' | relative_url }}">Contact</a>
  </nav>
</header>

<main>
  {{ content }}
</main>

</body>
</html>
